/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
/* general styles */
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'roboto mono', monospace;
}
a{
    font-size: 1.8rem;
    text-decoration: none;
    display: inline;
    color: black;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}

/* styles for the header */
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* styles for the social media section */
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons-container {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 40px;
}
header .icons-container span {
    color: white;
}

/* navbar section */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container {
    margin: auto 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;  
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}
nav .profile-link a {
    color: black;
    text-decoration: underline;    
}

/* main section styles */
.home-main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url(../assets/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main-container section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 250px;
    margin-top: 80px;
}
.home-main-container .home-main-text {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: white;
    text-align: center;
    font-family: 'roboto mono', monospace;
}
.home-main-container .home-main-button {
    width: 110px;
    height: 50px;
    background-color: #47cfac;
    display: grid;
    align-items: center;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.16);
}
.home-main-container .home-main-button:hover {
    background-color: #1ef1bc;
    box-shadow: 1px 1px 1px 5px rgb(63, 62, 62, 0.5);
}
.home-main-button a {
    font-weight: 700;
    font-size: 1.8rem;
}

/* blogs page styles */
.blogs-main{
    display: grid;
}
.blogs-news-container {
    background-color: #e6e6ed;
    padding: 0 50px 40px;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-main-new h3 {
    font-size: 2rem;
    font-weight: 700;
}
.blogs-new-img-container {
    grid-column: 1;
}
.blogs-new-img-container img{
    width: 85%;
}
.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.blogs-news-info-container p {
    margin-bottom: 35px;
    font-size: 1.8rem;
    font-weight: normal;
}
.blogs-posts-container {
    padding: 0 50px 40px;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button {
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 1.2rem;
}
.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
    width: 100%;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
}
footer p {
    color: white;
    margin: 30px 0;
}

/* blog page styles */
.blogpost-img-container {
    padding: 0 50px 40px;
}
.blogpost-img-container img {
    width: 100%;
}
.blogpost-main-container {
    padding: 0 50px 40px;
}
.blogpost-main-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    font-size: 1.8rem;
}
.blogpost-main-container article h1 {
    font-size: 3.5rem;
}
.blogpost-main-container article p {
    font-size: 1.4rem;
}
.contact-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 180px;
    margin-top: 20px;
    padding: 50px;
    background-color: #e6e6ed;
}
.contact-left {
    display: grid;
    grid-template-columns: 50px 220px;
    column-gap: 10px;
}
.contact-left img {
    grid-column: 1;
    width: 5rem;
    height: 5rem;
}
.contact-left div a {
    text-decoration: underline;
}
.contact-left div a:hover {
    font-weight: bold;
}
.contact-left div p {
    margin-top: 0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.contact-right {
    display: grid;
    grid-template-columns: 50px 220px;
    column-gap: 10px;
}
.contact-right img {
    grid-column: 1;
    width: 5rem;
    height: 5rem;
}
.contact-right div a {
    text-decoration: underline;
}
.contact-right div a:hover {
    font-weight: bold;
}
.contact-right div p {
    margin-top: 0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
}
